* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.container {
  width: 75rem;
  margin: 0 auto;
}

.header {
  height: 40rem;

  background-image: linear-gradient(-5.71deg, rgba(255, 255, 255)49.9%, rgba(0, 0, 0, 0)50.1%),
    url(./images/pexels-benjamin-suter-3617500.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center 100%, center center;
  background-size: 100vw 10vw, cover;
}

.nav__list-item {
  list-style-type: none;
  display: block;
  float: left;
}

.nav__list-item-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
}

.nav__list-item-link:hover {
  border-bottom: 0.2rem solid rgb(0, 226, 156);
}

.nav__list-item-link--logo:hover {
  border-bottom: none;
  color: rgb(150, 150, 150);
}

.nav__list-item-logo {
  width: 4rem;
  height: 4rem;
}

.nav__list-item-logo {
  fill: currentColor;
}