*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  height: 100%;
  background-image: url(../img/pexels-pixabay-45230.jpg);
  /*Das cover Schlüsselwort behält das Seitenverhältnis des Hintergrundbildes bei und skaliert es so, 
  dass es so klein wie möglich ist, aber den Hintergrund-Positionierungsbereichs vollständig abdeckt.*/
  background-size: cover;
  background-repeat: no-repeat;
  /*Die CSS Eigenschaft background-attachmentlegt fest,
  ob die Position eines Hintergrundbildes innerhalb des viewport fixiert ist,
  oder ob es mit seinem enthaltenden Block scrollt.*/
  background-attachment: fixed;

  font-family: 'Dosis', sans-serif;
}
.header
{
  text-align: center;
}
.logo
{
  max-width: 200px;
  /*filter: invert(); die farbe wurde direkt in de svg datei geändert*/
  margin-top: 50px;
  margin-bottom: 35px;

  animation: animate-logo-fly-in 4s ease-in-out 0s 1 both,
  animate-logo-up-down 12s ease-in-out 4.5s infinite none;
}
@keyframes animate-logo-fly-in
{
  0% {
    opacity: 0;
    transform: translate(-60vw, 0px);
  }
  100% {
    opacity: 0.9;
    transform: translate(0px, 0px);
  }
}
@keyframes animate-logo-up-down
{
  0%, 100% {
    transform: translate(0px,0px);
  }
  25% {
    transform: translate(0px, -7px);
  }
  50% {
    transform: translate(0px, 7px);
  }
  75% {
    transform: translate(0px, 0px) scale(1.03);
  }
}


.main
{
  text-align: center;
  color: white;
}
.main--heading
{
  margin-bottom: 5px;
}
.button
{
  margin-top: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: rgb(135, 111, 96);
  padding: 20px 10px 20px 10px;
  border-radius: 100000px;
  display: inline-block;

  transition: background-color 0.5s;
}
.button:hover
{
  background-color: rgb(26, 29, 36);
  /*color: yellow;
  transition: all 0s;*/
}